@import "tailwindcss";

:root {
  /* Darker emerald hues */
  --background: #0d423e; /* emerald-950-ish */
  --foreground: #ecfdf5; /* emerald-50 */
  --card: #083a37;
  --muted: #0e5e58;
  --accent: #34d399; /* emerald-400 */
  --accent-foreground: #022c22;
  --border: #115e59; /* emerald-700 */
}

body {
  background: radial-gradient(
      1200px 600px at 10% 10%,
      var(--muted),
      transparent 60%
    ),
    radial-gradient(1400px 800px at 90% 0%, #9affcb81, transparent 40%),
    var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
